html
{
    font-family: 'Poppins';
    font-size: 20px;
    width: 1512px;
    height: 1024px;
    
}

body
{
    margin: 0%;
    position: relative;
    width: 1512px;
    height: 1024px;

    background: #FFFDFA;
}
.dashBoard
{
    
    display: flex;
    position: relative;
    width: 1512px;
    height: 1024px;

    background: #FFFDFA;
}
.menu
{
position: absolute;
left: 0%;
right: 0.41%;
top: 0%;
bottom: 0%;
width: 235px;
height: 1024px;

background: linear-gradient(96.74deg, #FFBD40 -4.14%, #F59F00 127.89%);
border-radius: 0px;
}
.main
{

width: 80%;
height: 1024px;

background: #FFFDFA;
border-radius: 0px;
}
.logo
{
    position: absolute;
left: 23.24%;
right: 22.3%;
top: 7.23%;
bottom: 85.45%;
}
.evenements
{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 16px;
position: static;
width: 205px;
height: 48px;
background: #FFFDFA;
border-radius: 8px 0px 0px 8px;
margin: 46px 0px;
}
.raccourcis
{
    border-left: #2892D7;;
    background: #FFBD40;

    display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px 0px 0px;

position: absolute;
width: 259px;
height: 1024.05px;
left: 1253px;
top: 0px;
}
.titre
{
    position: absolute;
width: 273px;
height: 50px;
left: 255px;
top: 87px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 133.9%;
/* or 32px */

display: flex;
align-items: center;
letter-spacing: 0.09em;

/* Primary */

color: #FFBC40;

}
.evenementsAujour
{
    position: absolute;
    width: 315px;
    height: 24px;
    left: 255px;
    top: 177px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 133.9%;
    /* or 24px */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    
    /* Secondary */
    
    color: #393D3F;
    font-family: 'Montserrat';
}
.date
{
    position: absolute;
width: 166px;
height: 19px;
left: 1003px;
top: 102px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 133.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1em;

/* Secondary */
font-family: 'Montserrat';
color: #393D3F;

}
.sessions
{
    position: absolute;
    width: 263px;
    height: 17px;
    left: 767px;
    top: 589px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    
    color: #393D3F;
    
    
}
.animateurs
{
    position: absolute;
width: 202px;
height: 19px;
left: 767px;
top: 237px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 133.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: 0.1em;

color: hsl(200, 5%, 24%);
}
.buttonPage
{
padding: 8px 16px;
border: none;
width: 205px;
height: 48px;
background: #FFFDFA;
border-radius: 8px 0px 0px 8px;
margin: 46px 0px;
}
.buttonAutrePage
{

padding: 0px;
background: none;
border: none;
width: 127px;
height: 32px;
margin: 46px 0p
}